<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        center{
            background: -moz-linear-gradient(red,blue,yellow,);
        }
        h1{
            font-style: oblique;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="color:rgb(202, 37, 72)">list of School Objects</h1>
        {% for school in allSO %}
            <a href="{{school.pk}}"><h1>{{school.scname}}</h1></a>
        {% endfor %}
    </center>
</body>
</html>